.thumbnail-container {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.videos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 40px;
}

@media (max-width: 2000px) {
  .videos-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1500px) {
  .videos-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1170px) {
  .videos-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.videos-grid .thumbnail-container:nth-child(odd):hover {
  background-color: lightblue;
  transition: background-color 0.15s;
  border-radius: 8px;
}

.videos-grid .thumbnail-container:nth-child(even):hover {
  background-color: rgba(106, 29, 230, 0.336);
  transition: background-color 0.5s;
  border-radius: 3px;
}

.main-title {
  font-size: 1.5em;
  font-weight: 600;
}

.channel-user {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.stats {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.sidebar-link div {
  margin-top: 5px;
  font-size: 10px;
}

.image-container {
  position: relative;
  cursor: pointer;
}

.video-length {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 2px;
  font-weight: 200px;
}

.content {
  margin: 10px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.main-picture {
  position: relative;
}

.profile-picture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.sidebar-link {
  height: 220px;
}

.sidebar-component {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  height: 100%;
}
.sidebar-component img {
  width: 25px;
}

.sidebar-link:hover {
  background-color: lightgray;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;
  border-bottom: solid 1px lightgray;
  align-items: center;
  z-index: 1000;
  min-width: 0;
}

.relative-container {
  position: relative;
  display: flex;
  align-items: center;
}

.absolute-container {
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute-container p {
  background-color: rgb(177, 3, 3);
  font-size: 8px;
  padding: 1px 3px;
  border-radius: 50%;
  color: white;
}

.search-button {
  display: flex;
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  align-items: center;
  cursor: pointer;
  border: 1px solid lightgray;
  justify-content: center;
  margin-left: -20px;
  display: relative;
}

.search-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-size: 14px;
  bottom: -20px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip {
  opacity: 1;
}

.left-logo {
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 3px;
  background-color: transparent;
  transition: background-color 0.15s;
  border-radius: 50%;
}

.left-logo:hover {
  background-color: lightgray;
}

.search-button:hover {
  background-color: lightgray;
}

.search-button:active {
  background-color: gray;
}

.search-image {
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button-container,
.youtube-apps-container,
.notifications-container,
.user-logo-container,
.menu-button {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.create-button-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-container .tooltip,
.user-logo-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-size: 13px;
  bottom: -35px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.menu-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
  left: 1px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.create-button-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-container:hover .tooltip,
.user-logo-container:hover .tooltip,
.menu-button:hover .tooltip {
  opacity: 1;
}

.voice-button {
  display: flex;
  margin-left: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  display: relative;
}

.voice-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -20px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.voice-button:hover .tooltip {
  opacity: 1;
}

.voice-image {
  height: 20px;
  width: 20px;
  align-items: center;
}

.create-button {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.right-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  width: 150px;
}

.boulean-image {
  width: 99%;
}

.profile {
  border-radius: 50%;
}

body {
  margin: 0;
  padding-top: 120px;
  padding-left: 80px;
  padding-right: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  position: fixed;
  top: 15px;
  left: 0;
  bottom: 0;
  width: 70px;
  background-color: white;
  z-index: 200;
  overflow-y: auto;
}

.left-section {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.right-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-width: 400px;
  margin-left: 20px;
  flex-shrink: 0;
}

.middle-section input::placeholder {
  font-size: 15px;
  color: gray;
  padding-left: 3px;
}

.middle-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  max-width: 600px;
  min-width: 0;
}

.middle-section input {
  flex: 1;
  margin-left: 20px;
  min-width: 0;
  padding: 10px;
  font-size: 10px;
}

.middle-section input:focus {
  outline: none;
}
.middle-section input:focus::placeholder {
  color: transparent;
}

.youtube-image {
  width: 90px;
  margin-left: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}
